<!-- @if Örneği -->
<h2>if Örneği</h2>
@if (isLoggedIn) {
  <p>Hoş geldin, kullanıcı!</p>
} @else {
  <p>Lütfen giriş yap.</p>
}
<button (click)="toggleLogin()">Durumu Değiştir</button>
<hr />

<!-- @for Örneği -->
<h2>for Örneği</h2>

<!-- Yeni sözdizim -->
@for (item of items; track item.id) {
  <p>{{ item.name }} - {{ item.price }} TL</p>
}

<hr />

<!-- Klasik directive kullanımı -->
<div *ngFor="let item of items; trackBy: trackById">
  <p>{{ item.name }} - {{ item.price }} TL</p>
</div>

<hr />


<!-- @switch Örneği -->
<h2>switch Örneği</h2>
@switch (status) {
  @case ('loading') {
    <p>Yükleniyor...</p>
  }
  @case ('success') {
    <p>İşlem başarılı 🎉</p>
  }
  @case ('error') {
    <p>Bir hata oluştu ❌</p>
  }
  @default {
    <p>Henüz işlem yok</p>
  }
}
<button (click)="setStatus('loading')">Loading</button>
<button (click)="setStatus('success')">Success</button>
<button (click)="setStatus('error')">Error</button>
<button (click)="setStatus('idle')">Idle</button>
<hr />

<!-- Attribute Directives -->
<h2>Attribute Directives</h2>

<!-- ngStyle -->
<p [ngStyle]="{ 'color': isActive ? 'green' : 'red' }">
  Durum: {{ isActive ? 'Aktif' : 'Pasif' }}
</p>
<button
  (click)="toggleActive()">
  {{ 'ngStyle' }}
</button>

<!-- ngClass -->
<p  [ngClass]="{ 'text-success': isActive2, 'text-danger': !isActive2 }">
  Durum: {{ isActive2 ? 'Aktif' : 'Pasif' }}
</p>
<button
  (click)="toggleActive2()">
  {{ 'ngClass' }}
</button>
<hr />



